* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html, body {
    height: 100%;
    width: 100%;
}

:root {
    /* Backgroun Colors */
    --bg-primary-color: #0c0c0c;
    --bg-fill-color: #fcfcfc;
    --bg-btn-color: #333333;

    /* Text Colors */
    --text-primary-color: #f0f0f0;
    --text-secondary-color: #0000;

    /* Spacing variables */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;
    --space-4xl: 56px;

    /* Border Color */
    --border-primary-color: #333333;

    /* Border Radius */
    --space-border-xs: 4px;
    --space-border-sm: 8px;
    --space-border-md: 12px;
    --space-border-lg: 16px;
    --space-border-xl: 20px;
    --space-border-2xl: 24px;
}

html {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    height: 100%;
    padding: var(--space-xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}

.infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    border: 1px solid var(--border-primary-color);
    padding: 20px 25px;
    border-radius: var(--space-border-md);
}

.board {
    border: 2px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
}

.block {
    /* width: 30px;
    height: 30px; */
    border-radius: 50%;
    border: 1px solid var(--border-primary-color);
}

.fill {
    background-color: var(--bg-fill-color);
}

.food {
    background-color: red;
}

.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--space-2xl);
}

.modal .start-game, 
.modal .game-over,
.modal .game-pause {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);
}

.start-game h3, 
.game-over h3{
    font-size: var(--space-4xl);
}

.modal .game-over {
    display: none;
}

.modal .game-pause {
    display: none;
}

.modal .game-levels {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-border-sm);
}

.btns {
    display: flex;
    flex-direction: column;
    gap: var(--space-border-md);
}

.btn {
    padding: var(--space-md) var(--space-lg);
    border: none;
    border-radius: var(--space-border-md);
    font-size: var(--space-2xl);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
    background-color: var(--bg-btn-color);
    color: var(--text-primary-color);
}

.btn:active {
    scale: 0.95;
}

.level-btn {
    padding: var(--space-sm) var(--space-md);
    border: none;
    border-radius: var(--space-border-md);
    font-size: var(--space-md);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.level-btn.active {
    background-color: var(--bg-btn-color);
    color: var(--bg-fill-color);
}
